/*nav*/
#logo-background-rotated {
    background-color: #DDDFDF;
    transform: rotate(45deg);
    border: 2px solid black;
    transition:.1s;
}
#logo-background-rotated:hover {
    border: 2px solid rgb(255,120,5);
}
#nav_logo_pic {
    height: 140%;
    transform: rotate(-45deg);
}

.navbar-default {
    background-color: #DDDFDF;
    border: 2px solid black;
    opacity: 0.9;
}

.navbar-brand,
.navbar-nav li a {
    font-size: 30px;
    line-height: 120px;
    height: 120px;
    padding-top: 0;
    padding-bottom: 0;

}

.navbar-nav li {
    padding-left: 5vw;
}
.navbar-default .navbar-nav>li>a {
    color: black;
    transition:.1s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(255,120,5);
}

/*home carousel*/
.carousel-caption {
    font-size: 50px;
    color: rgb(255,120,5);
    opacity: 0.8;
}

#carousel_caption_0{
    position: absolute;
    top: 30%;
    left: -25%;
}
#carousel_caption_1{ 
    top: 50%;
}
#carousel_caption_2{ 
    top: 70%;
    right: -25%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*thumbnail*/
.thumbnail_container {
    padding: 5vh 0 5vh 0;
    background-image: url('/images/pattern_bg.png');
}
.thumbnail {
    background-color: #DDDFDF;
    opacity: 0.9;
}
.thumbnail h3 {
    color: rgb(255,120,5);
}

/*about introduction*/
.about_introduction_container {
    text-align: center;
    padding: 5vh 0 5vh 0;
    background-image: url('/images/about_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about_introduction_rounded_pic {
    width: 22%;
    border: 2px solid black;
}
.about_introduction_text_container {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
    text-align: center;
    font-size: 20px;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
}
.about_introduction_text_container h2{
    color: rgb(255,120,5);
}

/*fix to use one background pic for two sections*/
.bg_fix_pros_offer {
    background-image: url('/images/pattern_bg.png');
}
/*about pros*/
.about_pros_container {
    margin-top: 5vh;
    text-align: center;
    padding: 1vh 0 2vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
}
.about_pros_container h1 {
    color: rgb(255,120,5);
}
.about_pros_container ul {
    text-align: left;
    font-size: 20px;
    padding-left: 10%;
}
.about_pros_container li {
    margin: 3px;
    list-style-type: circle;
}

/*offer*/
.offer_heading_container{
    margin-top: 5vh;
    position: relative;
    right: 15%;
    width: 30vw;
    padding: 1vh 0 2vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.offer_heading_container h1 {
    color: rgb(255,120,5);
}
.offer_thumbnails_container {
    padding: 1vh 0 2vh 0;
    opacity: 0.9;
    text-align: center;
}

.offer_thumbnail_pic {
    width: 75%;
    padding-bottom:1vh;
}
/*gallery*/
.gallery_link_container {
    padding: 0;
    margin: 0;
    background-color: black;
}
#gallery_link {
    text-decoration: none;
    color: rgb(255,120,5);
    display: block;
    width: 100%;
    text-align: center;
    padding: 4vh 0 4vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    vertical-align: middle;
    transition:.3s;
}
#gallery_link:hover {
    color: black;
    background-color: rgb(255,120,5);
}

/*address*/
.address_container {
    background-color: black;
}
.address_item {
    margin-top: 4vh;
    padding: 1vh 0 2vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
#address_logo_pic {
    height:200px;
}
.address_item h2 {
    color: rgb(255,120,5);
}

/*map*/
#map {
    padding-top: 4vh;
    background-color: black;
    width:100%;
    height:350px;
}

/*contact*/
.contact_container {
    background: linear-gradient(black, #4f4e4e);
}
.contact_container .container {
    margin-top: 5vh;
    text-align: center;
    padding-top: 2vh;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.contact_container .container h2 {
    color: rgb(255,120,5);
}
.contact_container input:focus, .contact_container textarea:focus {
    box-shadow: 0 0 5px rgb(255,120,5);
    border: 1px solid rgb(255,120,5);
}

/*gallery*/
.gallery_thumbnail_container {
    padding-top: 200px;
    background-image: url('/images/pattern_bg_vert_mirr.png');
    background-repeat: repeat-y;
}
.gallery_thumbnail_container h3 {
    color: rgb(255,120,5);
}
.gallery_thumbnail_container p {
    color: black;
}
.gallery_thumbnail_container a:hover {
    text-decoration: none;
}

/*gallery_carousel*/
.job_pics_container {
    padding-top: 130px;
    background-image: url('/images/pattern_bg_vert_mirr.png');
    background-repeat: repeat-y;
}

/*media*/
@media screen and (max-width: 760px) {
    .bg_fix_pros_offer {
        background: linear-gradient(#4f4e4e,#1f1b20);
    }
    #logo-background-rotated {
        display:block;
        transform: rotate(0deg);
        border: none;
        height: 100%;
    }
    #nav_logo_pic {
        display:block;
        height: 100%;
        transform: rotate(0deg);
    }
    #logo-background-rotated:hover {
        border: none;
    }
    .navbar-brand,
    li a {
        display:block;
    }
    #carousel {
        display: none;
    }
}

@media screen and (max-width: 1110px) {
    .bg_fix_pros_offer {
        background: linear-gradient(#4f4e4e,#1f1b20);
    }
    #logo-background-rotated {
        display:none;
    }
    #nav_logo_pic {
        display:none;
    }
    .navbar-brand,
    li a {
        display:none;
    }
}