/*scroll spy fix*/
html {
    height: 100%;
}
body {
  position: relative;
}
/*nav*/
#logo-background-rotated {
    background-color: #DDDFDF;
    transform: rotate(45deg);
    border: 2px solid black;
    transition:.1s;
}
#logo-background-rotated:hover {
    border: 2px solid rgb(255,120,5);
}
#nav_logo_pic {
    height: 200px;
    transform: rotate(-45deg);
}

.navbar-default {
    background-color: #DDDFDF;
    border: 2px solid black;
    opacity: 0.9;
}

.navbar-brand,
.navbar-nav li a {
    font-size: 30px;
    line-height: 120px;
    height: 120px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav li {
    padding-right: 2vw;
}
.navbar-default .navbar-nav>li>a {
    color: black;
    transition:.1s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(255,120,5);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgb(255,120,5);
    background: none;
}

/*alert box*/
.alert_box {
    text-align: center;
    width: 50vw;
    position: fixed;
    top: 40px;
    left: 65vw;
    margin-left: -25vw;
    z-index: 10000;
    opacity: 0.9;
}

/*home carousel*/
.carousel-caption {
    font-size: 50px;
    color: rgb(255,120,5);
    opacity: 0.8;
}

#carousel_caption_0{
    position: absolute;
    top: 30%;
    left: -25%;
}
#carousel_caption_1{ 
    top: 50%;
}
#carousel_caption_2{ 
    top: 70%;
    right: -25%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*thumbnail*/
.thumbnail_container {
    padding: 5vh 0 5vh 0;
    background-image: url('/images/pattern_bg_vert_mirr.png');
}
.thumbnail {
    background-color: #DDDFDF;
    opacity: 0.9;
}
.thumbnail h3 {
    color: rgb(255,120,5);
}

/*about introduction*/
.about_introduction_container {
    text-align: center;
    padding: 5vh 0 5vh 0;
    background-image: url('/images/about_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about_introduction_rounded_pic {
    width: 22%;
    border: 2px solid black;
}
.about_introduction_text_container {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
    text-align: center;
    font-size: 20px;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
}
.about_introduction_text_container h2{
    color: rgb(255,120,5);
}

/*about pros*/
.about_pros_container {
    background: linear-gradient(black, #4f4e4e);
    padding-bottom: 5vh;
}
.about_pros_container .container {
    margin-top: 5vh;
    text-align: center;
    padding: 1vh 0 2vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 40px;
}
.about_pros_container h1 {
    color: rgb(255,120,5);
}
.about_pros_container ul {
    text-align: left;
    font-size: 20px;
    padding-left: 10%;
}
.about_pros_container li {
    margin: 3px;
    list-style-type: circle;
}

/*ratings link*/
.ratings_link_container {
    padding: 0;
    margin: 0;
    background-color: black;
}
#ratings_link {
    text-decoration: none;
    color: rgb(255,120,5);
    display: block;
    width: 100%;
    text-align: center;
    padding: 4vh 0 4vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    vertical-align: middle;
    transition:.3s;
}
#ratings_link:hover {
    color: black;
    background-color: rgb(255,120,5);
}
/*ratings*/
#no_ratings {
    display: block;
    position: relative;
    top: 30vh;
    text-align: center;
    font-size: 50px;
    color: rgb(255,120,5);
}
.ratings_container {
    min-height: 100vh;
    padding-top: 200px;
    background-image: url('/images/pattern_bg_vert_mirr.png');
    background-repeat: repeat-y;
    color: black;
}
.ratings_container button {
    margin-left: 18vw;
}
/*one rating*/
.rating_container {
    margin-top: 10px;
    background-color: #DDDFDF;
    opacity: 0.9;
    text-align: center;
    border-radius: 4px;
}
/*rating stars modal*/
.rating {
    width:300px;
}
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    cursor: pointer;
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:rgb(255,120,5);
    background:black;
    font-size:20px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:rgb(255,120,5);
    color:black;
}

/*bootstrap col valign fix*/
.v_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right:-4px;
}
/*rating author name*/
.rating_author {
    font-size: 30px;
    text-align: center;
}
/*rating stars*/
.rating_star {
    color: rgb(255,120,5);
    line-height: 100px;
    vertical-align: middle;
    font-size: 50px;
}
/*rating text*/
.rating_text {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

/*offer*/
.offer_container {
    background-image: url('/images/pattern_bg_vert_mirr.png');
}
.offer_heading_container{
    margin-top: 5vh;
    position: relative;
    right: 15%;
    width: 30vw;
    padding: 1vh 0 2vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.offer_heading_container h1 {
    color: rgb(255,120,5);
}
.offer_thumbnails_container {
    padding: 1vh 0 2vh 0;
    opacity: 0.9;
    text-align: center;
}

.offer_thumbnail_pic {
    width: 75%;
    padding-bottom:1vh;
}
/*gallery link*/
.gallery_link_container {
    padding: 0;
    margin: 0;
    background-color: black;
}
#gallery_link {
    text-decoration: none;
    color: rgb(255,120,5);
    display: block;
    width: 100%;
    text-align: center;
    padding: 4vh 0 4vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    vertical-align: middle;
    transition:.3s;
}
#gallery_link:hover {
    color: black;
    background-color: rgb(255,120,5);
}
/*gallery*/
.gallery_thumbnail_container {
    min-height: 100vh;
    padding-top: 200px;
    background-image: url('/images/pattern_bg_vert_mirr.png');
    background-repeat: repeat-y;
}
.gallery_thumbnail_container h3 {
    color: rgb(255,120,5);
}
.gallery_thumbnail_container p {
    color: black;
}
.gallery_thumbnail_container a:hover {
    text-decoration: none;
}

/*gallery_carousel*/
.job_pics_container {
    padding-top: 130px;
    background-image: url('/images/pattern_bg_vert_mirr.png');
    background-repeat: repeat-y;
    width: 100vw;
    height: 100vh;
}
#no_photos {
    display: block;
    position: relative;
    top: 30vh;
    text-align: center;
    font-size: 50px;
    color: rgb(255,120,5);
}

/*address*/
.address_container {
    background-color: black;
}
.address_item {
    margin-top: 4vh;
    padding: 1vh 0 2vh 0;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
#address_logo_pic {
    height:200px;
}
.address_item h2 {
    color: rgb(255,120,5);
}

/*map*/
.map_container {
    padding: 0;
    margin: 0;
}
#map {
    padding-top: 4vh;
    background-color: black;
    width:100%;
    height:350px;
}
.scrolloff {
    pointer-events: none;
}

/*contact*/
.contact_container {
    background: linear-gradient(black, #4f4e4e);
}
.contact_container .container {
    margin-top: 5vh;
    text-align: center;
    padding-top: 2vh;
    background-color: #DDDFDF;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.contact_container .container h2 {
    color: rgb(255,120,5);
}
.contact_container input:focus, .contact_container textarea:focus {
    box-shadow: 0 0 5px rgb(255,120,5);
    border: 1px solid rgb(255,120,5);
}

/*login stuff*/
.login_form_container {
    background: linear-gradient(black, #4f4e4e);
    min-height: 100vh;
    text-align: center;
    padding-top: 30vh;
}
.login_form_container .container {
    width: 50vw;
}
.login_form_container .panel-body, #login_form_container .panel-heading {
    background-color: #DDDFDF;
    opacity: 0.9;
}
.login_form_container h2 {
    color: rgb(255,120,5);
}
.login_form_container input:focus, #login_form_container textarea:focus {
    box-shadow: 0 0 5px rgb(255,120,5);
    border: 1px solid rgb(255,120,5);
}

/*adm panel*/
.adm_function_container {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255,120,5);
}
.adm_panel_container h1{
    text-align: center;
}
.adm_panel_container h2{
    text-align: center;
    margin-top: 10px;
}
.adm_panel_container {
/*    background: linear-gradient(black, #4f4e4e);*/
    background-image: url('/images/pattern_bg_vert_mirr.png');
    background-repeat: repeat-y;
    min-height: 100vh;
    padding-top: 120px;
    color: rgb(255,120,5);

}
.adm_panel_container .container {
    width: 50vw;
}

.adm_panel_container li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}
.adm_job_thumbnail {
    padding: 10px;
/*    padding-left: 10px;
    padding-right: 10px;*/
    height: 100px;
}
.adm_heading {
    display: block;
    color: white;
    background-color: rgba(255,120,5, 0.9);
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.adm_content_container {
    background-color: rgba(255,120,5, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.adm_job_description {
    padding-left: 20px;
    padding-right: 20px;
}
.adm_verified {
    background-color: rgba(0,128,0,0.2);
}
.adm_not_verified {
    background-color: rgba(128,0,0,0.2);
}
.adm_verified_heading {
    background-color: rgba(0,128,0,1);
}
.adm_not_verified_heading {
    background-color: rgba(128,0,0,1);
}
.ratings_manager_rating_container button {
    margin-bottom: 10px;
}
.ratings_manager_rating_container p {
    margin: 0;
    padding: 5px 20px 5px 20px;
}
.adm_rating_verified {
    color: green;
}
.adm_rating_not_verified {
    color: red;
}
.adm_panel_container input[type="checkbox"]{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.btn_red, .btn_green, .btn_red:visited, .btn_green:visited,
.btn_green:active, .btn_red:active, .btn_green:focus, .btn_red:focus  {
    color: black;
    margin-top: 3px;
    background-color: rgba(221, 223, 223, 0.9);
    border-color: rgba(221, 223, 223, 0.9);
    transition: .7s;
}
.btn_red:hover {
    background-color: red;
    border-color: red;
}
.btn_green:hover {
    background-color: green;
    border-color: green;
}
.pg_modal .modal-header {
    background-color: rgba(255,120,5, 0.9);
}
.pg_modal {
    background-color: rgba(221, 223, 223, 0.9);
    color: black;
}
.pg_modal input,.pg_modal textarea  {
    background-color: #f7f7f7;
}

/*media*/
@media screen and (max-width: 840px) {
    .bg_fix_pros_offer {
        background: linear-gradient(#4f4e4e,#1f1b20);
    }
    #logo-background-rotated {
        display:block;
        transform: rotate(0deg);
        border: none;
        height: 100%;
    }
    #nav_logo_pic {
        display:block;
        height: 100%;
        transform: rotate(0deg);
    }
    #logo-background-rotated:hover {
        border: none;
    }
    .navbar-brand,
    li a {
        display:block;
    }
    #carousel {
        display: none;
    }
}

@media screen and (max-width: 1170px) {
    .bg_fix_pros_offer {
        background: linear-gradient(#4f4e4e,#1f1b20);
    }
    #logo-background-rotated {
        display:none;
    }
    #nav_logo_pic {
        display:none;
    }
    .navbar-brand,
    li a {
        display:none;
    }
}